[submodule "revelation"]
	path = revelation
	url = https://github.com/guotsuan/awesome-revelation
[submodule "lain"]
	path = lain
	url = git@github.com:copycat-killer/lain.git
[submodule "awesome-copycats"]
	path = awesome-copycats
	url = https://github.com/copycat-killer/awesome-copycats.git
